body {
    background-color: #919191;
    font-family: 'Inter', sans-serif;
    font-style: normal;

}

section {
    display: grid;
    grid-template-columns: 0% 0% 70% 0% 0% 0%;
    color: white;
}

.text {
    width: 80%;
    padding-left: 901px;
    padding-top: 180px;
}

.manu-icon img {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    padding-left: 90px;
    padding-top: 52px;
}


.profile-image img {
    width: 611px;
    height: 611px;
    flex-shrink: 0;
    padding-left: 160px;
    padding-top: 160px;
}

.salam {
    color: #FFF;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 0px;
}

.welcome {
    color: #FFF;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 80px;
    padding-top: 100px;
}

.text img {
    width: 514px;
    height: 121px;
    flex-shrink: 0;
    padding-top: 170px;
    padding-left: 50PX;
}

.facebook img {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    padding-left: 430px;
    padding-top: 302px;
}

.linkedin img {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    padding-left: 430px;
    padding-top: 411px;
}

.git img {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    padding-left: 430px;
    padding-top: 520px;
}